* {
	font-size: 24px;
	font-family: Inconsolata;
}

window#waybar {
	background: #121619;
	color: #f2f4f8;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #697077;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #121619;
	background: #697077;
}

#workspaces {
	background: #697077;
}

#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#backlight,
#custom-uptime,
#tray {
	background: #697077;
	padding: 0 10px;
}

#workspaces button {
	padding: 0 2px;
}

#workspaces button.focused {
	background: #f2f4f8;
	color: #121619;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button:hover {
	background: #697077;
	border: #697077;
	padding: 0 3px;
}
